
<!--
.bg1 {background-color: #003366;}

.bg3 {background-color: #CCCC00;}

.bgtabon {background-color: #003366;}

.bgtaboff {background-color: #CCCCCC;}

.texttabon {color: #FFFFFF;}

.texttaboff {color: #000000;}

td.tabon { background-color: #003366; color: #FFFFFF; }
.tabon A:link { color: #FFFFFF; }
.tabon A:visited { color: #FFFFFF; }
.tabon A:active { color: #FFFFFF; }
.tabon A:hover { color: #FFFFFF; }

td.taboff { background-color: #CCCCCC; color: #000000; }
.taboff A:link { color: #000000; }
.taboff A:visited { color: #000000;  }
.taboff A:active { color: #000000;  }
.taboff A:hover { color: #000000;  }

.ChanBoxBg {background-image: url(/media/org/jasig/portal/channels/CUserPreferences/tab-column/channel/chan_box_bg.gif); background-color: #CCCC00;}
-->
